[data-md-color-scheme="slate"] {
    --md-hue: 200;
}

[data-md-color-scheme="default"] {
    --md-default-fg-color--light: #000000aa;
    --md-default-bg-color: #ebebda;
    --md-default-bg-color--light: #ebebdab3;
    --md-default-bg-color--lighter: #ebebda4d;
    --md-default-bg-color--lightest: #ebebda1f;
    --md-code-bg-color: #ddd8bf;
}